body{
    background-color: #23272A;
    color: white;
    font-family: 'Commissioner', sans-serif;
}

.logo{
    pointer-events: none;
}

.myworkstitle{
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}

.content{
  padding-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.paddingbr{
  padding-bottom: 40px;
}
  /*For Mobile Devices Section Starts */
  @media screen and (max-width: 600px) {

  .footer {
    background-color:rgba(0, 0, 0, 0.2);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  
  .footersoc{
    color: white;
  }
  
  .social{
    padding-left: 10px;
  }
  
  .copyright{
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .aboutme{
    padding-top: 50px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
  }
  }
  /*For Mobile Devices Section Starts */
  
  /*For Laptop Devices Section Starts */
  @media screen and (min-width: 600px) {
    
  .footer {
    background-color:rgba(0, 0, 0, 0.2);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  
  .footersoc{
    color: white;
  }
  
  .social{
    padding-left: 10px;
  }
  
  .copyright{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .aboutme{
    padding-top: 50px;
    text-align: left;
    padding-left: 80px;
    padding-right: 100px;
  }
  
  .recog{
    padding-left: 80px;
  }
  }
  /*For Laptop Devices Section Ends */