body{
    background-color: #23272A;
    color: white;
    font-family: 'Commissioner', sans-serif;
}

.logo{
    pointer-events: none;
}

#changingtext {
    animation: blinker 1.4s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  /*For Mobile Devices Section Starts */
  @media screen and (max-width: 600px) {
   
  .martop{
      margin-top: 100px;
      font-size: 38px;
      font-weight: bold;
      margin-left: 20px;
  }

  .footer {
    background-color:rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  
  .footersoc{
    color: white;
  }
  
  .social{
    padding-left: 10px;
  }
  
  .copyright{
    padding-top: 20px;
    padding-bottom: 15px;
  }

  }
  /*For Mobile Devices Section Starts */
  
  /*For Laptop Devices Section Starts */
  @media screen and (min-width: 600px) {

   .martop{
      margin-top: 100px;
      font-size: 70px;
      font-weight: bold;
      margin-left: 50px;
  }
    
  .footer {
    background-color:rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  
  .footersoc{
    color: white;
  }
  
  .social{
    padding-left: 10px;
  }
  
  .copyright{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  }
  /*For Laptop Devices Section Ends */